@import "colors";
.customer-restaurent-view {
  padding-left: 15px;
  .category-filters {
    border-right: 1px solid black;
    .nav {
      .nav-link {
        &:focus {
          color: $primary;
        }
        &:hover {
          color: $primary;
        }
      }
      a {
        color: black;
      }
    }
  }

  .food-items {
    border-right: 1px solid black;
  }

  .add-to-cart-btn {
    width: 5rem;
  }
}

.customer-restaurent-header {
  height: 20%;
  border-bottom: 1px solid $black;
}
